$white: #FFFFFF;
$whiteEC: #EAFEEC;
$whiteE9: #F0E9E9;
$whiteF2: #F1F3F2;
$whiteF8: #F1FFF8;
$black: #000000;
$green: #6FCF97;
$head-txt: #212D32;
$health-green: #38CEA8;
$light-text: #20414D;
$main-text: #376474;
$dark26: #222426;
$grey: #404040;
$light-grey: #888282;
$orange: #ED8A19;
$dark-blue: #32505B;
$blue: #6377DD;
$light-blue: #6A9FD3;
$yellow: #E8B408;
$light-yellow: #EAE8CA;
$green55: #83AF55;
$blueF7: #C1DFF7;
$red1F:#FF001F;
$red2A: #F62A2A;
$red00: #FF0000;
$light-green: #E7F9F5;
$greenB9: #B9EEE1;